<div class="hero-wrapper" style="background-image: url('{{ url('images/hero.jpg') }}')">

    <div class="referral-wrapper" style="background-image: url('{{ url('images/misc/thought-bubble.svg') }}');">

        <div class="referral-inner-wrapper">
            <div class="referral-header">
                
            </div>

            <div class="referral-footer">

            </div>
        </div>
    </div>

    {# Education logo bottom left #}
    <img class="education-logo" src="{{ url('images/nudge-education-logo.png') }}" />
</div>