<div class="navigation-wrapper" id="navigation-desktop">

    <div class="navigation-left">
        <img class="logo" src="{{ url('images/logo.png') }}" />
    </div>

    <div class="navigation-centre">

        <ul class="navigation-items">
            <li><a href="#">Ethos & Values</a></li>
            <li><a href="#">Who we help</a></li>
            <li><a href="#">How do we do it</a></li>
            <li><a href="#">Why it works</a></li>
            <li><a href="#">Get in touch</a></li>
        </ul>
    </div>

    <div class="navigation-right">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>

<div class="navigation-wrapper" id="navigation-mobile">

    <div class="navigation-left">
        <img class="logo" src="{{ url('images/logo.png') }}" />
    </div>

    <div class="navigation-right">
        <div class="burger-icon">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</div>